<h1>Editing brandproduct</h1>

<%= render "form", brandproduct: @brandproduct %>

<br>

<div>
  <%= link_to "Show this brandproduct", @brandproduct %> |
  <%= link_to "Back to brandproducts", brandproducts_path %>
</div>
